section{
    height: 100%;
    width: 100%;
    display: flex;
}
.invContent{
    height: 100%;
    width: 35%;
    padding: 5% 3%;
    text-align: center;
}
.addNewIng{
    margin-top: 20px;
    height: 300px;
    padding: 5%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.addNew{
    margin-top: 20px;
}
.addNew div{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.addNew div label{
    position: absolute;
    font-size: 12px;
    margin-top: -50px;
    left: 80px;
}
.addNew div input{
    height: 30px;
    border-radius: 5px;
    border: solid 1px;
    padding: 0 5px;
    text-transform: capitalize;
    font-size: 20px;
}
.addNew div select{
    width: 85px;
    height: 30px;
    border-radius: 5px;
    margin-left: 5px;
}
.addNew div span{
    font-size: 20px;
    font-weight: 600;
    margin: 0 10px;
}
.addNew div input#ingNameNew{
    width: 70%;
}
.addNew div input#ingNewQuan{
    width: 45%;
}
.addNew div label#labelForPrice{
    left: 35%;
}
.addNew div input#ingNewPrice{
    width: 35%;
}
.addNew div button{
    height: 30px;
    width: 150px;
    margin-top: 5px;
    font-size: 12px;
    border-radius: 10px;
    border: solid 1px;
    cursor: pointer;
}
.addNew div .btnHover:hover{
    background: black;
    color: white;
    transition: 600ms ease-out;
}
.totalCostInv{
    margin-top: 10px;
    height: 80px;
    padding: 2%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.ingRestock{
    margin-top: 10px;
    height: 250px;
    padding: 5%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.ingRes{
    margin-top: -15px;
}
.ingRes input{
    height: 30px;
    width: 150px;
    font-size: 20px;
    padding: 0 5px;
    border-radius: 5px;
    border: solid 1px;
}
.ingRes div{
    margin-top: 20px;
}
.ingRes div span{
    font-size: 20px;
    margin: 0 5px;
}
.ingRes div label{
    position: absolute;
    font-size: 12px;
    margin-top: -20px;
    margin-left: 10px;
}
.ingRes div button{
    height: 30px;
    width: 150px;
    margin-top: 5px;
    font-size: 12px;
    border-radius: 10px;
    border: solid 1px;
    cursor: pointer;
}
.ingRes div .btnHover:hover{
    background: black;
    color: white;
    transition: 600ms ease-out;
}
.ingResName{
    display: flex;
    justify-content: center;
}
.ingResName input{
    height: 30px;
    width: 80px;
    font-size: 20px;
    border-radius: 5px;
    border: solid 1px;
    margin: 0 5px;
    padding: 0 5px;
}
.ingResName select{
    height: 30px;
    border-radius: 5px;
}
.ingResName label{
    position: absolute;
    font-size: 12px;
    margin-top: -20px;
}
.ingResName input#ingredientName{
    text-transform: capitalize;
    width: 150px;
}
.ingResNAme div .suggestions{
    position: absolute;
    top: 110px;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 5;
    margin-top: 0;
    padding: 0 10%;
}
.ingResNAme div .suggest{
    margin: 0;
    text-transform: capitalize;
    cursor: pointer;
    background: whitesmoke;
}
.ingResNAme div .suggest:hover{
    border-radius: 5px;
    background: gray;
}
.invModalButtons{
    margin-top: 15px;
}
.invModalButtons button{
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border: solid 1px;
    margin: 0 10px;
    cursor: pointer;
}
.invModalButtons .extrasBtn:hover{
    background: black;
    color: white;
    transition: 600ms ease-out;
}
.invList{
    height: 100%;
    width: 100%;
    padding: 5% 0;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
}
.invListContainer{
    margin-top: 30px;
    height: 100%;
    width: 100%;
    padding: 2%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.sortIngredients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sortIngredients div{
    width: 100%;
    margin: 15px 20px;
    align-items: center;
}
.sortIngredients div label{
    position: absolute;
    font-size: 12px;
    margin-top: -20px;
}
.sortIngredients div input{
    height: 30px;
    width: 70%;
    text-transform: capitalize;
    font-size: 20px;
    border-radius: 5px;
    border: solid 1px;
    padding: 0 5px;
}
.sortIngredients div select{
    height: 30px;
    width: 20%;
    border-radius: 5px;
    border: solid 1px;
}
.ingredientsList{
    margin-top: 10px;
    width: 100%;
}
.ingredientsList table#tableTitle{
    display: flex;
    flex-flow: column;
    text-align: center;
    text-transform: capitalize;
    height: 90%;
    width: 100%;
}
table#tableTitle thead{
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
table#tableTitle thead tr th{
    border-radius: 5px;
    border: solid 1px;
    font-size: 15px;
    font-weight: 600;
}
table#tableTitle tbody{
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
table#tableTitle tbody tr {
    width: 100%;
    font-size: 12px;
}
table#tableTitle thead, table#tableTitle tbody tr {
    display: table;
    table-layout: fixed;
}



.invExtras{
    margin-top: 30px;
    margin-right: 1%;
    height: 100%;
    width: 45%;
    padding: 2%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.invExtras span{
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: gray;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.invExtras span:hover{
    background: black;
    color: white;
    transition: 600ms ease-out;
}
.invextPanel{
    text-align: center;
}
.invExtTable{
    margin-top: 20px;
}
.invExtTable table{
    display: flex;
    flex-flow: column;
    text-align: center;
    text-transform: capitalize;
    height: 90%;
    width: 100%;
}
.invExtTable table thead{
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
.invExtTable table thead tr th{
    border-radius: 5px;
    border: solid 1px;
    font-size: 12px;
    font-weight: 600;
}
.invExtTable table tbody{
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
.invExtTable table tbody tr{
    width: 100%;
    font-size: 12px;
    border-bottom: solid 1px;
    font-size: 10px;
}
.invExtTable table thead,
.invExtTable table tbody tr{
    display: table;
    table-layout: fixed;
}
.invESContent{
    padding: 3%;
    padding-bottom: 7%;
    border-radius: 10px;
    border: solid 1px;
}
.invESContent h2{
    font-size: 20px;
}
.invESContent h3{
    font-size: 17px;
    font-weight: 400;
    margin: 1% 0;
}
.invESCDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 12px;
    text-align: justify;
}
.invESCDetails p{
    font-size: 12px;
    font-weight: 400;
}
.invStatusContainers{
    padding: 3% 1%;
}
.statusCard{
    margin: 2% 0;
}
.statusCard div{
    border: solid 1px;
    border-radius: 10px;
}
.statusCard div p{
    font-size: 12px;
}